:root{
    --background-color:#50abf6;
    --color: #0a5779;
    --border: #0e2d3f;
    --filled: #78afce;
    --empty: #dfe6ea;
}

*{
    box-sizing: border-box;
}
body{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50vw;
    margin: 0 auto;
    overflow-x:hidden;
    color: white;
    background-color: var(--background-color);
    padding-bottom: 10px;

}
h1{
    margin-top: 0;
}
h3{
    margin-top: 0;
}
.cup{
    background-color: var(--empty);
    width: 150px;
    height: 230px;
    border: 1px solid var(--border);

    border-radius: 0 0 40px 40px ;
    box-shadow: 0 20px 20px rgba(0,0,0,.1),0 10px 10px rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: height .3s ease;
    color: var(--color);
}
.cups{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition:height .3s ease;
}
.cups .cup-small{
    width: 50px;
    height: 95px;
    border-radius: 0 0 15px 15px;
    margin:5px;
    color: var(--color);
    transition: height .3s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.cup.cup-small.full{
    background-color: var(--filled);
    color: white;
    transition: background-color .9s ease;
}
.remained{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    flex:1;
}
.remained span{
    font-weight: bold;
}
.remained small{
    font-size:14px;
}
.percentage{
    background-color: var(--filled);
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    border-radius: 0 0 40px 40px;
    font-weight: bold;
    height: 0;
    transition: .3s ease;
}